<STYLE type="text/css">
<!-- 

H3		{	color:WHITE;
			font-size:8pt;
			font-family:Verdana, Arial, Helvetica, sans-serif;
		}
TD, #basicstyle
		{	color:black;
			font-size:9pt;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			text-decoration: none;
		}
#tophead
		{	font-family:Verdana, Arial, Helvetica; 
			font-size:9pt;
			color:#990033;
			font-weight:bold;
		}
#bottomhead
		{	font-family:times new roman; 
			font-size:16pt;
			color:#999999;
			font-style:italic;
		}
#cathead
		{	font-family:Verdana, Arial, Helvetica;
			font-size:11pt;
			color:#FFFFCC;
			/*font-weight:none;*/
		}
#colhead
		{	font-family:Verdana, Arial, Helvetica;
			font-size:11pt;
			color:#FFFFCC;
			/*font-weight:none;*/
		}
#sidelink
		{	font-family:Verdana, Arial, Helvetica;
			font-size:8pt;
			color:#FFFFCC;
			/*font-weight:none;*/
		}
#redlink
		{	font-family:Verdana, Arial, Helvetica;
			font-size:8pt;
			color:#990033;
			font-weight:bold;
		}
#topredlink
		{	color:#990033;
			font-size:8pt;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-weight:BOLD;
			text-decoration:none;
		} 
A:Link	{	color:NAVY;
			font-size:8pt;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-weight:BOLD;
			text-decoration:none;
		} 
A:Visited{	color:NAVY;
			font-size:8pt;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-weight:BOLD;
			text-decoration:none;
		}
 -->
</STYLE>
